.picture{
  position:fixed;
  height:60vh;
  width:100vw;
  top:20vh;
  left:0;
  animation: test 2s infinite ease;
}
@keyframes test {
  0% {
    left: 100vw;
  }
  
  50% {
    left: 0vw;
  }
  
  100% {
    left: 100vw;
  }
}