.picture1{
  position:fixed;
  height:0vh;
  width:100vw;
  top:20vh;
  left:0;
  animation-name: test;
  animation-duration: 2s;
  animation-iteration-count:1;
}


.picture{
  position:fixed;
  height:30vh;
  width:100vw;
  top:50vh;
  left:0;
  animation-name: test;
  animation-duration: 0.5s;
  animation-iteration-count:1;
}

@keyframes test {
  0% {
    left: 100vw;
  }
  
  100% {
    left: 0vw;
  }
}