.counter-0{
  font-size:3rem;
  color:black;
}
.counter-1{
  font-size:3rem;
  color:orange;
}
.counter-2{
  font-size:3rem;
  color:red;
}

.counterButton {
  display: inline-block;
  font-size: 32px;
  width: 200px;
  height: 48px;
  border-radius: 4px;
  margin: 20px 24px;
  color: #fff;
  background-color: rgb(0, 153, 255);
  border: none;
  outline: none;
  box-shadow: 4px 4px #d8d8d8;
  cursor: pointer;
 
}

.counterButton:active {
  position: relative;
  top: 4px;
  left: 4px;
  box-shadow: none;
}