.red{
  position:fixed;
  top:10px;
  left:10px;
  width:100px;
  height:100px;
  background-color: red;
}
.blue{
  position:fixed;
  top:10px;
  left:10px;
  width:100px;
  height:100px;
  background-color: blue;
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count:1;
}

.off{
  background-color: while;
  color:blue;
}
.on{
  background-color: blue;
  color:white;
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count:1;
}
@keyframes move{
  from{
    width:50px;
  }
  to{
    width:100px;
  }
}